<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
        <title>Create new Customer</title>
    </head>
    <body>
        <h1>Create new Customer</h1>
        <a href="/">Back to Customer List</a>
        <br/><br/>
        <form  method="POST">
            <table border="0">
                <tr>
                    <td>First Name</td>
                    <td>:</td>
                    <td><input type="text" name="firstName" placeholder="firstName" /></td>              
                </tr>
                <tr>
                    <td>Middle Name</td>
                    <td>:</td>
                    <td><input type="text" name="middleName" placeholder="middleName"/></td>              
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>:</td>
                    <td><input type="text" name="lastName" placeholder="lastName" /></td>              
                </tr>
            </table>
            <button type="submit">Add</button>
        </form>
 
    </body>
</html>