<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
        <title>Delete Customer</title>
    </head>
    <body>
        <h1>Delete Customer</h1>
        <a href="/">Back to Customer List</a>
        <br/><br/>
        {{#user}}
        <form  method="POST">
            <table border="0">
                <tr>
                    <td>First Name</td>
                    <td>:</td>
                    <td>{{firstName}}</td>              
                </tr>
                <tr>
                    <td>Middle Name</td>
                    <td>:</td>
                    <td>{{middleName}}</td>              
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>:</td>
                    <td>{{lastName}}</td>              
                </tr>
            </table>
            <button type="submit">Delete</button>
        </form>
     {{/user}}
    </body>
</html>